.camera-msg-enter {
    opacity: 0.01;
  }
  
  .camera-msg-enter.camera-msg-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
  
  .camera-msg-leave {
    opacity: 1;
  }
  
  .camera-msg-leave.camera-msg-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
  }